<div class="body">
    <section class="signcard">
        <header class="signcard__header">
            <p class="signcard__header-welcome">
                Welcome to EVENTS TRACKER
            </p>
            <p class="signcard__header-sign">
                Sign in
            </p> 
        </header>
        <form action="submit" class="signcard__form">
            <label for="email" class="signcard__label">Enter your username or email addres</label>
            <input type="email" class="signcard__input" placeholder="Username or email address">
            <label for="password" class="signcard__label">Enter your password</label>
            <input type="password" class="signcard__input" placeholder="Password">
        </form>
        <input class="signcard__button" type="button" value="Sign in">
    </section>
</div>